header {
    background-color: chocolate;
    margin-bottom: 0;
}
.navbar {
    background-color: black;
    color: yellow;
    margin-top: 0;
    position: sticky;
}
.imagen img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 40%;
}