h1 {
    color: white;
}

#titulo {
    text-align: center;
}
body {
    background: black;
}

.letra_blanca {
    color: white;
}
.container{
    background-color: blueviolet;
}
.parrafos {
    font-size: larger;
}
.resumen {
    padding-top: 100px;
}
.size {
    /* width: 600px; */
}
.imagenes {
    width: 300px;
    height: 300px;
}
a {
    color:yellow;
}
.carousel-caption a{
    color:yellow;
}